<footer class="footer">
    <div class="footer-wrap region-dark-footer">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-6 text-center"
                     style="left: 50%;transform: translateX(-50%);">
                    <div class="region region-dark-footer-left" style="display: flex;justify-content: center;flex-direction: column; align-items: center;">
                        <section id="block-block-3" class="block block-block footer-img-logo col-md-12 clearfix">


                            <div><img alt="Motorola a Lenovo company" class="footer-img-logo"
                                      src="//motorola.com/sites/all/themes/custom/motorola_bootstrap/images/motorola_footer_logo.svg">
                            </div>

                        </section>
                        <section id="block-motorola-footer-motorola-footer-change-location" class="block block-motorola-footer motorola-footer-change-location clearfix">
                            <ul style="display:flex;">
                                <li><a href="https://www.motorola.com/">Motorola.com</a></li>
                                <li>|</li>
                                <li><a href="https://www.motorola.com/">Terms of Use</a></li>
                                <li>|</li>
                                <li><a href="https://www.motorola.com/">Privacy</a></li>
                            </ul>

                        </section>
                        <section id="block-bean-copyright-footer"
                                 class="block block-bean copyright-block col-md-12 clearfix"
                                 style="padding: 0;">


                            <div class="entity entity-bean bean-copyright-footer clearfix"
                                 about="//motorola.com/us/block/copyright-footer" typeof="">

                                <div class="content">
                                    <div class="field field-name-field-copyright-content field-type-text-long field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <p>Motorola Mobility LLC. All Rights Reserved</p>
                                                <p>Motorola and the Stylized M are registered trademarks of Motorola trademark Holdings, LLC.</p>
                                                <style type="text/css">
                                                    <!--
                                                    /*--><![CDATA[/* ><!--*/
                                                    @import url('//motorola.com/sites/default/files/library/storage/overrides/css/global.css');

                                                    /*--><!]]>*/
                                                </style>
                                                <style type="text/css">
                                                    <!--
                                                    /*--><![CDATA[/* ><!--*/
                                                    @import url('//motorola.com/sites/default/files/library/storage/overrides/css/main-us.css');

                                                    .page-blc-cart-add .page-header {
                                                        display: none;
                                                    }

                                                    .page-blc-cart-add .blc-results {
                                                        display: none;
                                                    }

                                                    .page-blc-cart-add .form-item {
                                                        margin-top: 50px;
                                                    }

                                                    /*--><!]]>*/
                                                </style>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
{{- partial (printf "%s/multifile.html" .Type) . -}}