<style type="text/css">
    .icon-warning:before{font-family:"LenovoMotoSupport";content:"\e904"}main{min-height:100px}.iconsize{font-size:95px;color:#ea6201;float:left;margin-top:-30px;margin-left:20px}.motobox{min-width:720px;margin-top:5%;padding:20px 10px;width:100%;margin-left:auto;margin-right:auto;background-color:ghostwhite;border:1px solid #d2d2d2;min-height:110px;height:auto}.motobox .left{width:15%;float:left;text-align:center}.motobox .right{width:85%;height:auto;float:left}.visit-homepage{color:#3e8ddd;text-decoration:none;cursor:pointer}
</style>
<main id="main-content" class="main-content not-found-page">
    <div id="app-container">
        <div class="document-body">
            <div class="row">
                <div class="container">
                    <div class="col-md-12">
                        <div class="motobox">
                            <div class="left">
                                <span class="icon-warning iconsize"></span>
                            </div>
                            <div class="right">
                                <p>
                                    The document you have requested is not available. You may have entered an incorrect URL or login
                                    with authorized credentials (for Motorola Call Center Agents only) to view the page.</p>

                                <p>
                                    <span>Please </span>
                                    <a href="//support.motorola.com/us/en" class="visit-homepage">visit our homepage</a>
                                    <span> to get support for your product, or go back to</span>
                                    <a href="/us/"> Videos</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>